{% extends 'base.html.twig' %}
{% block body %}
    <div class="container text-center">
        <h1>Mes documents</h1>
        {% for document in documents %}
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-8">
                            <h4>{{ document.title }} </h4>
                            <small>doi :  {{ document.doi }} </small>
                            <br />

                            <div class="btn-group">
                                <a class="btn btn-primary" href = "{{ path('home_page') }}"> Déposer </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}